
   * {
    margin: 0;
    padding: 0;
}
html, body,.bigbox{
    width: 100%;
    height: 100%;
}
.bigbox{
  min-width: 1200px;
  min-height: 960px;
}
@media (min-width: 1200px) and (max-width: 1400px){
  .bigbox {
    background-color: #F6F5ED;
    min-width: 1200px;
  }
  .header{
    width: 100%;
    height: 34px;
    background: #EAD399;
  }
  .header span{
    width: 64px;
    height: 22px;
    display: block;
    padding-top: 6px;
    padding-left: 30px;
    font-family: 'PingFangSC';
  }
  .header button{
    position: relative;
    top: -20px;
    cursor: pointer;
    margin-left: 150px;
    }
  .content{
      width: 80%;
      height: 80%;
      margin: 20px auto;
      display: flex;
      justify-content: flex-start;
      background: #f6f5ed;
      flex-flow: row wrap;
      align-content: flex-start;
  }
  .row{
      margin-top: 20px;
      margin-left: 80px;
      width: 40%;
      height: 140px;
      background-color:#ffffff;
  }
  .col-6 img{
    float: left;
    width: 200px;
    height: 140px;
    cursor: pointer;
  }
  .col-6:nth-child(2){
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  }
  .col-6 span {
    margin-top: 26px;
    color: #000000;
    display: block;
    font-family: PingFangSC;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    height: 40px;
    word-break: break-all;
  }
  .col-6 p {
      margin-top: 15%;
     color: #A1A1A1;
     font-family: PingFangSC;
     font-size: 14px;
     line-height: 22px;
  }
  .detaill{
    display: none;
    position: absolute;
    width: 75%;
    height: 80%;
    top: 10%;
    left: 13%;
    border: rgb(189, 182, 182) solid;
    background: #1E1E25;
  }
  .detaill-title{
      height: 32px;
      background: #2C3237;
      display:flex;
  }

  /* .detaill-title span:nth-child(1){图片
     
     height: 32px;
     width: 30px;
     background: #fff;
  } */
  .close{
      /* 图片 */
     height: 32px;
     width: 30px;
     align-self: flex-end;
     display: block;
     font-size: 25px;
     color: #a7a7a7;
     margin-left: 82%;
     cursor: pointer;
  }
  .detaill-title h4{
     width: 150px;
     height: 32px;
     background: #54606B;
     color: #D8DBDE;
     line-height: 2;
  }
  .back{
      height: 96%;
      width: 100%;
      background: #F6F5ED;
  }
  .desc-content{
      height: 100%;
      width: 80%;
      margin: 0px auto;
      background: #FDFDFD;
  }
  .tit{
      height: 70px;
      padding-top: 40px;
      padding-left: 40px;
      color: #D5D5D5;
      font-weight: normal;
      line-height: 40px;
  }
  .tit h3,h5{
      font-weight: normal;
  } 
  .tit h3{
      font-size: 28px;
  }
  .news{
      margin:40px 40px 0px 40px;
      height: 60%;
      overflow: auto;
      overflow-x: hidden;
  }
  .news p{
      color: #A1A1A1;
      font-size: 20px;
      font-family: PingFangSC;
      line-height: 28px;
  }

  .box {
    margin:0px auto;
    width: 50%;
}

  .pagination {
    margin-top: 18px;
    font-size: 0;
    text-align: center;
  }
  .pagination .page-li {
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    user-select: none;
  }
  .pagination .page-li:hover {
    cursor: pointer;
    background-color: #eaeaea;
  }
  .pagination .page-li.page-active {
    cursor: default;
    color: #fff;
    border-color: #555555;
    background-color: #636363;
  }
  .pagination .page-li.number-ellipsis {
    border: none;
    cursor: default;
  }
  .pagination .page-li.number-ellipsis:hover {
    background-color: #fff;
  }
  .pagination .page-number {
    width: 38px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #eaeaea;
    text-align: center;
  }
  .pagination .page-prev {
    padding: 8px 14px;
    margin-right: 8px;
    border: 1px solid #eaeaea;
  }
  .pagination .page-prev.no-prev {
    color: #c6c6c6;
  }
  .pagination .page-prev.no-prev:hover {
    cursor: default;
    background-color: #fff;
  }
  .pagination .page-next {
    padding: 8px 14px;
    margin-left: 8px;
    border: 1px solid #eaeaea;
  }
  .pagination .page-next.no-next {
    color: #c6c6c6;
  }
  .pagination .page-next.no-next:hover {
    cursor: default;
    background-color: #fff;
  }
  .pagination .number-ellipsis {
    display: inline-block;
    font-size: 15px;
    padding: 8px 14px;
  }
  .pagination .number-ellipsis.page-hidden {
    display: none;
  }
  #page-go {
    margin-top: 10px;
    text-align: center;
  }
}
@media (min-width: 1401px) and (max-width: 1920px){
  .bigbox {
    background-color: #F6F5ED;
    min-width: 1200px;
  }
  .header{
    height: 34px;
    background: #EAD399;
  }
  .header span{
    width: 64px;
    height: 22px;
    color: #000000;
    display: block;
    padding-top: 6px;
    padding-left: 30px;
    font-family: PingFangSC;
  }
  .header button{
    position: relative;
    top: -20px;
    margin-left: 120px;
    cursor: pointer;
  }
  .content{
      width: 80%;
      margin: 20px auto;
      display: flex;
      justify-content: flex-start;
      background: #f6f5ed;
      /* justify-content: space-around;  flex-wrap: wrap; flex-direction: row;*/
      flex-flow: row wrap;
      align-content: flex-start;
  }
  .row{
      margin-top: 40px;
      margin-left: 80px;
      width: 40%;
      height: 140px;
      background-color:#ffffff;
  }
  .col-6 img{
      float: left;
      width: 200px;
      height: 140px;
      cursor: pointer;
  }
  .col-6:nth-child(2){
   /* justify-content: flex-start; */
   /* flex-direction: column;*/
   position: absolute;
   margin-left: 220px;
  }
  .col-6 span {
    width: 255px;
    margin-top: 26px;
    color: #000000;
    display: block;
    font-family: PingFangSC;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    height: 40px;
  }
  .col-6 p {
     margin-top: 15%;
     color: #666666;
     font-family: PingFangSC;
     font-size: 14px;
     line-height: 22px;
  }
  .detaill{
     display: none;
      position: absolute;
      width: 75%;
      height: 80%;
      top: 10%;
      left: 13%;
      border: rgb(189, 182, 182) solid;
      background: #1E1E25;
  }
  .detaill-title{
      height: 32px;
      background: #2C3237;
      display:flex;
  }

  /* .detaill-title span:nth-child(1){ 图片
     height: 32px;
     width: 30px;
     background: #fff;
  } */

  .close{
      /* 图片 */
     height: 32px;
     width: 30px;
     align-self: flex-end;
     display: block;
     font-size: 25px;
     color: #a7a7a7;
     margin-left: 89%;
     cursor: pointer;
  }
  .detaill-title h4{
     width: 150px;
     height: 32px;
     background: #54606B;
     color: #D8DBDE;
     line-height: 2;
  }
  .back{
      height: 96%;
      width: 100%;
      background: #F6F5ED;
  }
  .desc-content{
      height: 100%;
      width: 80%;
      margin: 0px auto;
      background: #FDFDFD;
  }
  .tit{
      height: 70px;
      padding-top: 40px;
      padding-left: 40px;
      color: #333333;
      font-weight: normal;
      line-height: 40px;
  }
  .tit h3,h5{
      font-weight: normal;
  } 
  .tit h3{
      font-size: 28px;
  }
  .news{
    margin: 40px 40px 0px 40px;
    height: 70%;
    overflow: auto;
    overflow-x: hidden;
  }
  .news p{
      color: #666666;
      font-size: 20px;
      font-family: PingFangSC;
      line-height: 28px;
  }
  .box {
    margin:0px auto;
    /* width: 20%; */
}
/* ul.pageli li {display: inline;}

ul.pageli li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px; cursor: pointer;
}

ul.pageli  li.active {
    background-color: #3e9241;
    color: white;
    border-radius: 5px;
}
.spanli{
  color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-align: -webkit-match-parent;
}

ul.pageli li:hover:not(.active) {background-color: #ddd;}
.pagebox span:hover:not(.active) {background-color: #ddd;} */


  .pagination {
    margin-top: 18px;
    font-size: 0;
    text-align: center;
  }
  .pagination .page-li {
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    user-select: none;
  }
  .pagination .page-li:hover {
    cursor: pointer;
    background-color: #eaeaea;
  }
  .pagination .page-li.page-active {
    cursor: default;
    color: #fff;
    border-color: #555555;
    background-color: #636363;
  }
  .pagination .page-li.number-ellipsis {
    border: none;
    cursor: default;
  }
  .pagination .page-li.number-ellipsis:hover {
    background-color: #fff;
  }
  .pagination .page-number {
    width: 38px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #eaeaea;
    text-align: center;
  }
  .pagination .page-prev {
    padding: 8px 14px;
    margin-right: 8px;
    border: 1px solid #eaeaea;
  }
  .pagination .page-prev.no-prev {
    color: #c6c6c6;
  }
  .pagination .page-prev.no-prev:hover {
    cursor: default;
    background-color: #fff;
  }
  .pagination .page-next {
    padding: 8px 14px;
    margin-left: 8px;
    border: 1px solid #eaeaea;
  }
  .pagination .page-next.no-next {
    color: #c6c6c6;
  }
  .pagination .page-next.no-next:hover {
    cursor: default;
    background-color: #fff;
  }
  .pagination .number-ellipsis {
    display: inline-block;
    font-size: 15px;
    padding: 8px 14px;
  }
  .pagination .number-ellipsis.page-hidden {
    display: none;
  }
  #page-go {
    margin-top: 10px;
    text-align: center;
  }
}
@media (min-width:0px) and (max-width:1200px){
  .bigbox {
    background-color: #F6F5ED;
  }
  .header{
    width: 100%;
    height: 34px;
    background: #EAD399;
  }
  .header span{
    width: 64px;
    height: 22px;
    color: #fff;
    display: block;
    padding-top: 6px;
    padding-left: 30px;
    font-family: 'PingFangSC';
  }
  .content{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    background: #f6f5ed;
    flex-flow: row wrap;
    align-content: flex-start;
  }
  .row{
    margin-top: 20px;
    margin-left: 80px;
    width: 40%;
    height: 140px;
    background-color:#ffffff;
  }
  .col-6 img{
    float: left;
    width: 200px;
    height: 140px;
    cursor: pointer;
  }
  .col-6:nth-child(2){
    height: 140px;
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
  }
  .col-6 span {
    margin-top: 26px;
    color: #000000;
    display: block;
    font-family: PingFangSC;
    font-size: 14px;
    line-height: 20px;
    word-break: break-all;
    cursor: pointer;
  }
  .col-6 p {
    color: #A1A1A1;
    font-family: PingFangSC;
    font-size: 14px;
    line-height: 22px;
  }
  .detaill{
    min-width: 900px;
    display: none;
    position: absolute;
    width: 75%;
    height: 80%;
    top: 10%;
    left: 13%;
    border: rgb(189, 182, 182) solid;
    background: #1E1E25;
  }
  .detaill-title{
  height: 32px;
  background: #2C3237;
  display:flex;
  }
  
  /* .detaill-title span:nth-child(1){ 图片
  height: 32px;
  width: 30px;
  background: #fff;
  } */

  .close{
  /* 图片 */
  height: 32px;
  width: 30px;
  align-self: flex-end;
  display: block;
  font-size: 25px;
  color: #a7a7a7;
  margin-left: 82%;
  cursor: pointer;
  }
  .detaill-title h4{
  width: 150px;
  height: 32px;
  background: #54606B;
  color: #D8DBDE;
  line-height: 2;
  }
  .back{
  height: 96%;
  width: 100%;
  background: #F6F5ED;
  }
  .desc-content{
  height: 100%;
  width: 80%;
  margin: 0px auto;
  background: #FDFDFD;
  }
  .tit{
  height: 70px;
  padding-top: 40px;
  padding-left: 40px;
  color: #D5D5D5;
  font-weight: normal;
  line-height: 40px;
  }
  .tit h3,h5{
  font-weight: normal;
  } 
  .tit h3{
  font-size: 28px;
  }
  .news{
  margin:40px 40px 0px 40px;
  height: 60%;
  overflow: auto;
  overflow-x: hidden;
  }
  .news p{
    color: #A1A1A1;
    font-size: 20px;
    font-family: PingFangSC;
    line-height: 28px;
  }
  .pagebox{
    margin-left: 34%;
    width: 12%;
  }
.header button{
  position: relative;
  top: -20px;
  cursor: pointer;
  margin-left: 150px;
  width: 40px;
  }
.box {
  margin:0px auto;
  width: 50%;
}
  .pagination {
    margin-top: 18px;
    font-size: 0;
    text-align: center;
  }
  .pagination .page-li {
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    user-select: none;
  }
  .pagination .page-li:hover {
    cursor: pointer;
    background-color: #eaeaea;
  }
  .pagination .page-li.page-active {
    cursor: default;
    color: #fff;
    border-color: #555555;
    background-color: #636363;
  }
  .pagination .page-li.number-ellipsis {
    border: none;
    cursor: default;
  }
  .pagination .page-li.number-ellipsis:hover {
    background-color: #fff;
  }
  .pagination .page-number {
    width: 38px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #eaeaea;
    text-align: center;
  }
  .pagination .page-prev {
    padding: 8px 14px;
    margin-right: 8px;
    border: 1px solid #eaeaea;
  }
  .pagination .page-prev.no-prev {
    color: #c6c6c6;
  }
  .pagination .page-prev.no-prev:hover {
    cursor: default;
    background-color: #fff;
  }
  .pagination .page-next {
    padding: 8px 14px;
    margin-left: 8px;
    border: 1px solid #eaeaea;
  }
  .pagination .page-next.no-next {
    color: #c6c6c6;
  }
  .pagination .page-next.no-next:hover {
    cursor: default;
    background-color: #fff;
  }
  .pagination .number-ellipsis {
    display: inline-block;
    font-size: 15px;
    padding: 8px 14px;
  }
  .pagination .number-ellipsis.page-hidden {
    display: none;
  }
  #page-go {
    margin-top: 10px;
    text-align: center;
  }
}
